@charset "UTF-8";




:root{
    --Violet: hsl(257, 40%, 49%);
    --SoftMagenta: hsl(300, 69%, 71%);
}

body{
    
    position: relative;
    background-image: url("huddle-landing-page-with-single-introductory-section-master/images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-color: var(--Violet);
      
      
}
main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 30px;
    
    
 
    
    
}

.imagens{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 40px;
    
    
     
}

.imagem2{
    margin-top: 30px;
}

.texto{
    
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    
}


p{
    font-weight: bold;
    
}
input{
    background-color:white;
    color: var(--Violet);
    border: none;
    border-radius: 40px;
    font-size: 20px;
    margin-top: 10px;
    padding: 17px;
    width: 180px;
}

input:hover{
    background-color:var(--SoftMagenta);
    color: white;
    
}

footer{
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}
footer img{
    width: 50px;
    margin: 8px;
    border-radius: 50%;
    
}
footer img:hover{
    background-color: var(--SoftMagenta);
    border: 2px solid var(--SoftMagenta);
    box-sizing: border-box;
    
}

@media screen and (max-width: 1100px) {
    
    main{
        display: grid;
        grid-template-columns: 800px;
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
    }
    .texto{
        text-align: justify;
    }
    
}
@media screen and (max-width: 800px) {
    
    main{
        
        display: grid;
        grid-template-columns: 1fr;
    }
    .imagem2 img{
        width: 80vw;
    }
    input{
        width: 100px;
        font-size: medium;
    }

    footer{
        display: flex;
        justify-content: center;
    }

    footer img{
        width: 40px;
        
    }
}